* {
    box-sizing: border-box;
    border: solid 1px lightblue;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

:root {

}
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 56, 56);
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    
}

.navul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    width: 30%;
    font-family: PPhatton;
    text-align: center;
}

.navbar li {
    list-style: none;
    font-size: 2rem;
    padding: 15px;
}

.navstyle {
    border: solid 2px antiquewhite;
    border-radius: 1px;
    width: 15%;
    height: 0;
}

.welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(
        rgb(178, 254, 254),
        rgb(33, 56, 56)
    );
    color: antiquewhite;  
    height: 100vh;
    width: 100%;
    padding-top: 75px;
    
}

.hi {
    font-size: 3.5rem;
    padding: 25px;
}

.divider {
    border: 2px solid antiquewhite;
    border-radius: 1px;
    width: 60%;
}

.myname {
    padding: 25px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    background: linear-gradient(
        -45deg,
        rgb(50, 50, 50),
        rgb(104, 104, 104),
        rgb(50, 50, 50)
    );
    color: antiquewhite;
}

.procontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
}

.proitem {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100%;
    width: 45%;
}

.img {
    background-color: aqua;
    height: 65%;
    width: 100%;

}

.contact {
    height: 80vh;
    width: 100%;
    background-color: black;
    color: antiquewhite;
}

.footer {
    height: 100px;
    width: 100%;
}